*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Permanent Marker', cursive;
	font-size: 16px;
	text-align: center;
	background-image: url(https://images5.alphacoders.com/619/619510.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover contain;
	background-position: center;
}

h1{
	font-size: 2rem;
	text-shadow: 0 2px 3px rgba(0,0,0,.75);
    color: white;
	position: relative;
	top: 4rem;
}

.board{
	position: relative;
	top: 5rem;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	border: 13px solid transparent;
	max-width: 480px;
	max-height: 480px;
	width: 100vw;
	height: 100vw;
	box-shadow: 0 10px 10px -5px rgba(0,0,0,.75);
	font-size: 0;
	position: relative;
	
}
.box{
	width: 12.5%;
	height: 12.5%;
	font-size: 8vw;
	display: block;
	text-align: center;
	line-height: 12vw;
	padding-top: 4px;
}

.box:nth-child(n+1):nth-child(-n+16){
	color: whitesmoke;
}
.box:nth-child(n+41):nth-child(-n+64){
	color: black;
}


.board .box:nth-child(n+1):nth-child(-n+8):nth-child(even),
.board .box:nth-child(n+17):nth-child(-n+25):nth-child(even),
.board .box:nth-child(n+33):nth-child(-n+40):nth-child(even),
.board .box:nth-child(n+49):nth-child(-n+56):nth-child(even),
.board .box:nth-child(n+9):nth-child(-n+16):nth-child(odd),
.board .box:nth-child(n+25):nth-child(-n+32):nth-child(odd),
.board .box:nth-child(n+41):nth-child(-n+48):nth-child(odd),
.board .box:nth-child(n+57):nth-child(-n+64):nth-child(odd){
	background-color: gray;
}

@media screen and (min-width: 480px){
	.board {
		border: 18px solid transparent;
		box-shadow: 0 15px 15px -5px rgba(0,0,0,.75);
	}
	.box {
		font-size: 2.5rem;
		line-height: 56px;
	}	
}
